@use '../typography/src' as *;
@use './src' as *;
@use '../../vars' as *;
@use 'sass:color';
@use "sass-mq" as mq;




.button {
    @include fs-textSans(2);
    @include button-height($base-size * 5);
    @include button-colour(
        $sport-bright,
        #ffffff,
        $sport-dark
    );
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.button--primary {
    @include button-colour(
        $guardian-brand,
        #ffffff
    );

    @include button-hover-colour(
        color.adjust($guardian-brand, $lightness: -10%)
    );
}

.button--secondary {
    @include button-colour(
        $brightness-97,
        $brightness-7
    );

    @include button-hover-colour(
        color.adjust($brightness-97, $lightness: -10%)
    );
}

.button--tertiary {
    @include button-colour(
        transparent,
        $brightness-7,
        $brightness-86
    );

    @include button-hover-colour(
        transparent,
        color.adjust($brightness-86, $lightness: -10%)
    );
}

.button--large {
    @include button-height($base-size * 6);

    @include mq.mq($from: desktop) {
        line-height: ($base-size * 6) + 2;
    }
}
